.main-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-bottom: 80px;
}

.study-cart-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}