.study-img {
    width: 250px;
    height: 150px;
    border-radius: 10px;

}

.single-cart {
    /* border: 1px solid gray; */
    border-radius: 5px;
    /* box-shadow: 0 4px 8px gray; */
    margin: 0 106px;
    /* padding: 15px 8px 0; */
    position: relative;

}

.text {
    /* margin-left: 10px; */
}

.text h2 {}

.text p {
    margin: 0;
}

.text h4 {
    /* margin: 0; */

}


.list-btn {
    width: 100%;
    padding: 15px;
    background-color: #5d5fef;
    color: #fff;
    border: none;
    border-radius: 10px;

    position: absolute;
    bottom: 0;
}